* {
  box-sizing: border-box;
}
.container {
  width: 1280px !important;
}
.head {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
}
.navbar-light .navbar-nav .nav-link.active {
  color: white;
  font-size: 18px;
}
.navbar-light .navbar-nav .nav-link.active:hover {
  color: #ff6600;
}

.search-bar {
  position: relative;
}

.pos {
  position: absolute;
  top: 28%;
  right: 20px;
  transform: translateY(20%);
  color: #5c626d;
}
.co {
  color: black;
  margin-left: 5px;
}
.ggmoon {
  font-size: 25px;
  color: white;
}
.carousel {
  background-repeat: no-repeat;
  min-height: 350px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgb(236 98 6 / 98%),
      rgb(5 3 0 / 83%)
    ),
    url(./loc-image/banner2.jpg);
}
.search-hover:hover {
  cursor: pointer;
}
.search-input {
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.carousel {
  display: flex;
  justify-content: center;
}
.carousel-text {
  margin-top: 175px;
}
/* -------------------------------------------------------- */
.blog {
  padding: 48px 0;
}
.blog-head {
  padding: 48px 0;
  text-align: center;
}
.cssh3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.cssh6 {
  color: #ff6600;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: "Pacifico", cursive;
  margin-bottom: 4px;
}
.imgskill {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
.ablog {
  background-color: #ff6600;
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  letter-spacing: 0.05em;
  text-decoration: none;
}
.ablog:hover {
  color: white;
}
.spanblog {
  opacity: 1;
  color: white;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
  padding-left: 10px;
}
.thumb-blog {
  position: relative;
}
.nav-blog {
  position: absolute;
  bottom: 15px;
  left: 10px;
}
.blog .container .row .col-sm-4{
  padding-left: 48px;
}
.pblog {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}
.pblog2 {
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
}
.thumb-img1 {
  width: 40px;
  height: 40px;
  /* display: block; */
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.span-thumb {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  cursor: pointer;
  /* padding-top: 50px; */
}




.foot-thumb2 {
  width: 40%;
  text-align: right;
}
.foot-thumb2:hover {
  color: #ff6600;
}
.blog-pad {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
}
.blog-pad1 {
  padding-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
}
.recipesall {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 40px;
}
.recipesall .container1 {
  width: 85%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.recipesall-head {
  font-size: 26px;
  line-height: 38px;
  font-weight: 600px;
  margin-bottom: 30px;
  text-align: left;
}
.reci-a {
  display: block;
  font-size: 19px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.reci-a2 {
  font-size: 22px;
  line-height: 28px;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
  color: black;
  cursor: pointer;
}
.cate-content {
  display: flex;
  align-items: center;
}
.cate-content span {
  font-size: 19px;
  font-weight: 500;
  /* display: block; */
  padding: 10px 15px 10px 20px;
  cursor: pointer;
  color: rgba(22, 28, 45, 0.7);
}
.cate-content i {
  display: block;
  cursor: pointer;
  font-size: 8px;
  padding-top: 2px;
  color: #ced0d3;
}
.cate-content:hover span {
  color: #ff6600;
}
.cate-content:hover i {
  color: rgba(22, 28, 45, 0.7);
}
.number-flex{
  text-align: center;
  margin-top: 48px;
}
.number1{
    padding: 8px 16px;
    color: #fff;
    border: 1px solid #ff6600;
    border-radius: 6px;
    font-weight: 700;
    background-color: #ff6600;  
    margin-right: 10px;
}
.pagenumber{
  padding: 8px 16px;
    background-color:#f7f7f7;
    border-radius: 6px;
    border: 1px solid #eee;
    font-weight: 700;
    color: rgba(22, 28, 45, 0.7);;
    text-decoration: none;
    margin-right: 10px;
    transition: all 0.5s;
    
}
.pagenumber:hover{
  background-color: white;
  color: #ff6600;
  border: 1px solid #ff6600;
}
/* -------------------------------------- */
.foot-head {
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  /* margin-bottom: 50px; */
}
.foot-head:hover {
  color: #ff6600;
}
.foot-headp {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.iconic2 {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
  background-color: white;
  color: #ff6600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.iconic2:hover {
  background-color: #ff6600;
  color: white;
}
.foot-title1 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 20px;
  font-weight: 700;
  color: white;
}
.foot-title1p a {
  text-decoration: none;
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
  display: block;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.foot-title1p a:hover {
  color: #ff6600;
}
.foot-email {
  padding: 15px 50px 15px 20px;
  border-radius: 8px;
}
.footera1 {
  text-decoration: none;
  color: #ff6600;
  font-size: 17px;
}
.footera1:hover {
  color: white;
}
.footera2 {
  display: flex;
  justify-content: space-around;
}

.footera2 p {
  font-size: 17px;
  color: #a5a2a1;
  cursor: pointer;
}
.footera2 p:hover {
  color: #ff6600;
}
.vicon2 {
  width: 70%;
  height: 500px;
}
.vilogo {
  height: 11px;
  width: 84px;
  text-align: center;
  background-color: white;
  border-radius: 6px 0 0 6px;
  position: relative;
  position: absolute;
  bottom: 10px;
  right: 15%;
}
.vilogo2 {
  height: 100%;
  width: 70%;
  position: absolute;
  top: 0;
  left: 17%;
  cursor: pointer;
}
.volume-play {
  display: flex;

  position: absolute;
  bottom: 0px;
  right: 30%;
  cursor: pointer;
}
.vi-con {
  position: relative;
}
.vi-play {
  position: absolute;
  top: 50%;
  left: 50%;
}
.vi-play i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 20px;
  margin-right: 5px;
  background-color: rgba(157, 157, 157, 0.5);
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
.zoom {
  font-size: 27px;
  bottom: -5px;
  right: 25%;
  position: absolute;
  cursor: pointer;
}
.zoom i {
  color: white;
}
.foot2 {
  width: 100px;
  height: 320px;
  background-color: #0d1326;
  position: fixed;
  bottom: 40%;
  right: 0;
  text-align: center;
  border-radius: 8px 0 0 8px;
}
.container1 {
  text-align: center;
  width: 90%;
  margin: auto;
}
.footnav {
  font-size: 18 px;
  color: #8f95a8;
  cursor: pointer;
}
.footnav:hover {
  color: #e6ebff;
}
.btn-story {
  color: white;
  background-color: #ff6600;
  /* margin-top: 100px; */
}
.btn-style {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: 0.5s ease-in;
}
.btn-style:hover {
  color: white;
  opacity: 0.8;
}
.container-video {
  width: 80%;
  margin: auto;
}
@media screen and (max-width:1200px) {
  .volume-play{
    left: 500px;
  }
  .zoom{
    left: 550px;
  }
  .span-thumb{
    font-size: 18px;
  }
  
}
@media screen and (max-width :992px) {
  .volume-play{
    left: 450px;
  }
  .zoom{
    left: 500px;
  }
  .icon-team {
    top: 60%;
  }
.span-thumb{
  font-size: 13px;
}
}
@media screen and (max-width: 768px){
  .span-thumb{
    font-size: 16px;
  }
  .head .container .navbar {
    display: block;
  }
  .navbar-toggler {
    color: white !important;
    background-color: white;
  }
  .carousel {
    position: relative;
  }
  .ggmoon {
    position: absolute;
    top: 30px;
    left: 75%;
    color: white;
    z-index: 10;
  }
  .blog .container .row .responcol8{
    width: 100%;
    margin-bottom: 48px;
  }
  .blog .container .row .responcol8 .col-sm-6{
    width: 50%;
  }
  .blog .container .row .col-sm-4{
    width: 100%;
    padding-left: 0;
  }
  .foot .container .row .col-sm-8{
    width: 100%;
  }
  .foot .container .row .responfoot2{
    width: 100% !important;
    
  }
  .footera2{
   justify-content: start;
  }
  .footera2 p {
   margin-right: 10px;
  }
  .video .container-video{
    width: 100%;
    margin: 0;
  }
  .vi-con{
    width: 100%;
  }
  .vicon2{
    width: 100%;
  }
  .volume-play{
    margin-right: 10px;
  }
  .zoom{
    right: 120px;
  }
  .vilogo{
    right: 0;
  }
}
@media screen and (max-width: 576px) {
  .head .container .navbar {
    display: block;
  }
  .navbar-toggler {
    color: white !important;
    background-color: white;
  }
  .carousel {
    position: relative;
  }
  .ggmoon {
    position: absolute;
    top: 30px;
    left: 75%;
    color: white;
    z-index: 10;
  }
.blog .container .row .responcol8{
  width: 100%;
  margin-bottom: 48px;
}
.blog .container .row .responcol8 .col-sm-6{
  width: 100%;
}
.blog .container .row .col-sm-4{
  width: 100%;
  padding-left: 0;
}
.foot .container .row .responfoot{
  width: 50%;
  padding-bottom: 50px;
}
.foot .container .row .col-sm-2{
  width: 50%;
}
.foot .container .row .col-sm-8{
  width: 100%;
}
.foot .container .row .responfoot2{
  width: 100% !important;
  
}
.footera2{
 justify-content: start;
}
.footera2 p {
 margin-right: 10px;
}
.video .container-video{
  width: 100%;
  margin: 0;
}
.vi-con{
  width: 100%;
}
.vicon2{
  width: 100%;
}
.volume-play{
  left: 350px;
}
.zoom{
  left:400px ;
}
.vilogo{
  right: 0;
}
}
